.card:hover {
  filter: drop-shadow(0 0 2em #07092a2a);
  scale: 1.05;
  transition: all 70ms ease-in-out;
}

h2:hover {
  filter: drop-shadow(0 0 2em #07092a2a);
  scale: 1.05;
  transition: all 70ms ease-in-out;
}
